---
import Navigation from "@/components/Navigation.astro";
import Footer from "@/components/Footer.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";

export interface Props {
  title: string;
  description: string;
  landing: boolean;
}
const { title, description, landing } = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Elektrotechnik studieren - {title}</title>
    <meta name="description" content={description} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <ViewTransitions />
    <style>
      @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter-Regular.woff2") format("woff2");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
      @font-face {
        font-family: "Inter";
        src: url("/fonts/Inter-SemiBold.woff2") format("woff2");
        font-weight: bold;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </head>
  <body class="font-inter">
    <Navigation />
    {
      landing && (
        <div class="absolute top-14 -z-10 left-0 h-40 bg-brown w-full" />
      )
    }
    <main
      class="container my-32 py-20 space-y-20 px-60 min-h-screen bg-white rounded-2xl"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
