---
import Layout from "@/layouts/Layout.astro";
import type { Page } from "@/types";
import { getPages } from "@/utils/payload";
import Content from "@/components/Content.astro";
import Heading from "@/components/blocks/Heading.astro";
import FAQ from "@/components/blocks/FAQ.svelte";
import Accordion from "@/components/blocks/FAQ.svelte";
export const getStaticPaths = async () => {
  const pages = await getPages();
  return pages.map((page) => ({
    params: {
      path: page.path === "/" ? undefined : page.path?.substring(1),
    },
    props: { page },
  }));
};
type Props = {
  page: Page;
};
const { page } = Astro.props;
---

<Layout
  title={page.title!}
  description={page.description!}
  landing={page.title !== "Startseite"}
>
  {
    page.blocks?.map((block) => {
      switch (block.blockType) {
        case "content":
          return <Content {block} />;
        case "heading":
          return <Heading {block} fullWidth />;
        case "FAQ":
          return (
            <div>
              {block.faq?.map((faq) => (
                <FAQ faq={faq} client:load />
              ))}
            </div>
          );
      }
    })
  }
</Layout>
