---
import Layout from "@/layouts/Layout.astro";
---

<style>
  li {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
</style>
<Layout title="Datenschutz" description="" landing={false}>
  <div class="max-w-3xl">
    <h1 class="text-3xl font-bold uppercase mb-5">Datenschutz</h1>
    <h2 class="text-xl mb-3">§ 1 Allgemeines</h2>
    <p>
      Ihre personenbezogenen Daten (z.B. Anrede, Name, Anschrift,
      E-Mail-Adresse, Telefonnummer) werden von uns nur gemäß den Bestimmungen
      des deutschen Datenschutzrechts und des Datenschutzrechts der Europäischen
      Union (EU) verarbeitet. Die nachfolgenden Vorschriften informieren Sie
      neben den Verarbeitungszwecken, Empfängern, Rechtsgrundlagen,
      Speicherfristen auch über Ihre Rechte und den Verantwortlichen für Ihre
      Datenverarbeitung. Diese Datenschutzerklärung bezieht sich nur auf unsere
      Websites. Falls Sie über Links auf unseren Seiten auf andere Seiten
      weitergeleitet werden, informieren Sie sich bitte dort über den jeweiligen
      Umgang mit Ihren Daten.
    </p>
    <h2 class="text-xl mb-3 mt-5">§ 2 Kontaktaufnahme</h2>
    <ol>
      <li>
        Verarbeitungszweck <br />Ihre personenbezogenen Daten, die Sie uns per
        E-Mail, Kontaktformular etc. zur Verfügung stellen, verarbeiten wir zur
        Beantwortung und Erledigung Ihrer Anfragen. Sie sind nicht verpflichtet,
        uns Ihre personenbezogenen Daten bereitzustellen. Aber ohne Mitteilung
        Ihrer E-Mail Adresse können wir Ihnen auch nicht per E-Mail antworten.
      </li>
      <li>
        Rechtsgrundlagen <br /><ul class="list-disc">
          <li>
            Sollten Sie uns eine ausdrückliche Einwilligung zur Verarbeitung
            Ihrer Daten gegeben haben, ist Art. 6 Abs. 1a) DSGVO die
            Rechtsgrundlage für diese Verarbeitung.
          </li>
          <li>
            Sollten wir Ihre Daten zur Durchführung vorvertraglicher Maßnahmen
            verarbeiten, ist Art. 6 Abs. 1b) DSGVO die Rechtsgrundlage.
          </li>
          <li>
            In allen anderen Fällen (insbesondere bei Nutzung eines
            Kontaktformulars) ist Art. 6 Abs. 1f) DSGVO die Rechtsgrundlage.
          </li>
        </ul>
      </li>
      <h3 class="mt-3 mb-2 text-xl font-semibold">Widerspruchsrecht</h3>
      <p>
        Sie haben das Recht, der Datenverarbeitung die auf der Grundlage des
        Art. 6 Abs. 1 f) DSGVO erfolgt und nicht der Direktwerbung dient aus
        Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit zu
        widersprechen. <br />
         Im Falle der Direktwerbung können Sie der Verarbeitung hingegen ohne
        Angabe von Gründen jederzeit widersprechen.
      </p>
      <li>
        Berechtigtes Interesse <br />Unser berechtigtes Interesse an der
        Verarbeitung besteht darin, mit Ihnen auf schnellem Wege zu
        kommunizieren und Ihre Anfragen kostengünstig zu beantworten. Wenn Sie
        uns Ihre Anschrift mitteilen, behalten wir uns vor, diese für
        postalische Direktwerbung zu verwenden. Ihr Interesse am Datenschutz
        können Sie durch eine sparsame Datenweitergabe (z.B. Verwendung eines
        Pseudonyms) wahren.
      </li>
      <li>
        Empfängerkategorien <br />Hostinganbieter, Versanddienstleister bei
        Direktwerbung
      </li>
      <li>
        Speicherdauer <br />hre Daten werden gelöscht, wenn sich aus den
        Umständen entnehmen lässt, dass Ihre Anfrage bzw. der betroffene
        Sachverhalt abschließend geklärt ist. Falls es jedoch zu einem
        Vertragsschluss kommt, werden die nach Handels- und Steuerrecht
        erforderlichen Daten von uns für die gesetzlich bestimmten Zeiträume
        aufbewahrt, also regelmäßig zehn Jahre (vgl. § 257 HGB, § 147 AO).
      </li>
      <li>
        Widerrufsrecht <br />Sie haben im Fall der Verarbeitung aufgrund Ihrer
        Einwilligung das Recht, Ihre Einwilligung jederzeit zu widerrufen.
      </li>
    </ol>

    <h2 class="text-xl mb-3 mt-5">§ 3 Informationen über Cookies</h2>
    <p>
      Im Gegensatz zu anderen Seiten, verwenden wir überhaupt keine Cookies.
      Deswegen sehen Sie auch keinen Cookie-Consent-Banner auf unserer Website.
      <br /><br />
       Cookies sind kleine Textdateien, die von einem Websiteserver auf Ihr
      Endgerät (Laptop, Tablet, Smartphone o.ä.) übertragen und dort gespeichert
      werden. Hierdurch erhalten wir automatisch bestimmte Daten wie z.B.
      IP-Adresse, verwendeter Browser, Betriebssystem und Ihre Verbindung zum
      Internet.
      <br /><br />
       Cookies können nicht verwendet werden, um Programme zu starten oder Viren
      oder sonstige Schadsoftware auf Ihr Endgerät zu übertragen. Anhand der in
      Cookies enthaltenen Informationen können wir Ihnen die Navigation
      erleichtern und die korrekte Anzeige unserer Webseiten ermöglichen. Der
      Einsatz von Cookies dient einerseits dazu, die Nutzung des Angebots für
      Sie angenehmer zu gestalten. So können sogenannte Session-Cookies
      eingesetzt werden, um zu erkennen, dass Sie einzelne Seiten einer Website
      bereits besucht haben. Diese werden nach Verlassen unserer Seite
      normalerweise automatisch gelöscht. Darüber hinaus können ebenfalls zur
      Optimierung der Benutzerfreundlichkeit temporäre Cookies benutzt werden,
      die für einen bestimmten festgelegten Zeitraum auf Ihrem Endgerät
      gespeichert werden. Besuchen Sie dieseSeite erneut, um unsere Dienste in
      Anspruch zu nehmen, wird automatisch erkannt, dass Sie bereits auf der
      Website waren und welche Eingaben und Einstellungen sie getätigt haben, um
      diese nicht noch einmal eingeben zu müssen.
      <br /><br />
       In keinem Fall werden die von uns erfassten Daten an Dritte weitergegeben
      oder ohne Ihre Einwilligung eine Verknüpfung mit personenbezogenen Daten
      hergestellt.
      <br /><br />
       Sie können alle Websites grundsätzlich auch ohne Cookies betrachten.
      Internet-Browser sind regelmäßig so eingestellt, dass sie Cookies
      akzeptieren. Im Allgemeinen können Sie die Verwendung von Cookies
      jederzeit über die Einstellungen Ihres Browsers deaktivieren. Bitte
      verwenden Sie die Hilfefunktionen Ihres Internetbrowsers, um zu erfahren,
      wie Sie diese Einstellungen ändern können. Bitte beachten Sie, dass
      einzelne Funktionen unserer Website möglicherweise nicht funktionieren,
      wenn Sie die Verwendung von Cookies deaktiviert haben.
      <br /><br />
       Die durch Cookies verarbeiteten Daten sind für die genannten Zwecke zur
      Wahrung unserer berechtigten Interessen sowie der Dritter nach Art. 6 Abs.
      1 S. 1 lit. f DSGVO erforderlich.
    </p>
    <h2 class="text-xl mb-3 mt-5">§ 4 Analyse- und Tracking-Tools</h2>
    <p>
      Die im Folgenden aufgeführte und von uns eingesetzte Analyse- und
      Tracking-Maßnahme (nachfolgend „Maßnahme“) wird auf Grundlage des Art. 6
      Abs. 1 S. 1 lit. f DSGVO durchgeführt. Mit der zum Einsatz kommenden
      Maßnahme wollen wir eine bedarfsgerechte Gestaltung und die fortlaufende
      Optimierung unserer Webseite sicherstellen. Zum anderen setzen wir die
      Maßnahme ein, um die Nutzung unserer Webseite statistisch zu erfassen und
      zum Zwecke der Optimierung unseres Webangebotes für Sie auszuwerten. Diese
      Interessen sind als berechtigt im Sinne der vorgenannten Vorschrift
      anzusehen.
      <br /><br />
       Die jeweiligen Datenverarbeitungszwecke und Datenkategorien sind den
      nachfolgenden Informationen zu entnehmen.
    </p>
    <h3 class="mt-3 mb-2 text-xl font-semibold">Umami</h3>
    <p>
      Zu Analyse der Reichweite meiner Website benutzen wir Umami. Der Schutz
      Ihrer Daten ist uns wichtig. Deshalb erfasst Umami keine IP Adresse und
      speichert keine Informationen auf Ihrem Endgerät (z.B. Cookies). Wir
      verarbeiten Ihre personenbezogenen Nutzungsdaten nur anonymisiert. Ein
      Rückschluss auf Ihre Person ist uns nicht möglich. Darüber hinaus
      betreiben wir Umami auf unseren eigenen Servern, weswegen eine
      Weiterleitung der Daten an Dritte nicht erfolgt. Weitere Informationen
      finden Sie in der Dokumentation für Umami Analytics unter:
      https://umami.is
    </p>
    <h2 class="text-xl mb-3 mt-5">§ 5 Rechte der betroffenen Person</h2>
    <p>
      Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie Betroffener
      i.S.d. DSGVO und es stehen Ihnen folgende Rechte gegenüber dem
      Verantwortlichen zu: <br />
      <br />
    </p>
    <ol>
      <li>
        Auskunftsrecht <br />Sie können von dem Verantwortlichen eine
        Bestätigung darüber verlangen, ob personenbezogene Daten, die Sie
        betreffen, von uns verarbeitet werden. Liegt eine solche Verarbeitung
        vor, können Sie von dem Verantwortlichen über folgende Informationen
        Auskunft verlangen:
        <ul class="list-disc">
          <li>
            die Zwecke, zu denen die personenbezogenen Daten verarbeitet werden;
          </li>
          <li>
            die Kategorien von personenbezogenen Daten, welche verarbeitet
            werden;
          </li>
          <li>
            die Empfänger bzw. die Kategorien von Empfängern, gegenüber denen
            die Sie betreffenden personenbezogenen Daten offengelegt wurden oder
            noch offengelegt werden;
          </li>
          <li>
            die geplante Dauer der Speicherung der Sie betreffenden
            personenbezogenen Daten oder, falls konkrete Angaben hierzu nicht
            möglich sind, Kriterien für die Festlegung der Speicherdauer;
          </li>
          <li>
            das Bestehen eines Rechts auf Berichtigung oder Löschung der Sie
            betreffenden personenbezogenen Daten, eines Rechts auf Einschränkung
            der Verarbeitung durch den Verantwortlichen oder eines
            Widerspruchsrechts gegen diese Verarbeitung;
          </li>
          <li>
            das Bestehen eines Beschwerderechts bei einer Aufsichtsbehörde;
          </li>
          <li>
            alle verfügbaren Informationen über die Herkunft der Daten, wenn die
            personenbezogenen Daten nicht bei der betroffenen Person erhoben
            werden;
          </li>
          <li>
            das Bestehen einer automatisierten Entscheidungsfindung
            einschließlich Profiling gemäß Art. 22 Abs. 1 und 4 DSGVO und –
            zumindest in diesen Fällen – aussagekräftige Informationen über die
            involvierte Logik sowie die Tragweite und die angestrebten
            Auswirkungen einer derartigen Verarbeitung für die betroffene
            Person. Ihnen steht das Recht zu, Auskunft darüber zu verlangen, ob
            die Sie betreffenden personenbezogenen Daten in ein Drittland oder
            an eine internationale Organisation übermittelt werden. In diesem
            Zusammenhang können Sie verlangen, über die geeigneten Garantien
            gem. Art. 46 DSGVO im Zusammenhang mit der Übermittlung unterrichtet
            zu werden.
          </li>
        </ul>
      </li>
      <li>
        Recht auf Berichtigung <br />Sie haben ein Recht auf Berichtigung
        und/oder Vervollständigung gegenüber dem Verantwortlichen, sofern die
        verarbeiteten personenbezogenen Daten, die Sie betreffen, unrichtig oder
        unvollständig sind. Der Verantwortliche hat die Berichtigung
        unverzüglich vorzunehmen.
      </li>
      <li>
        Recht auf Einschränkung der Verarbeitung <br />Unter den folgenden
        Voraussetzungen können Sie die Einschränkung der Verarbeitung der Sie
        betreffenden personenbezogenen Daten verlangen: <ul class="list-disc">
          <li>
            wenn Sie die Richtigkeit der Sie betreffenden personenbezogenen
            Daten für eine Dauer bestreiten, die es dem Verantwortlichen
            ermöglicht, die Richtigkeit der personenbezogenen Daten zu
            überprüfen;
          </li>
          <li>
            die Verarbeitung unrechtmäßig ist und Sie die Löschung der
            personenbezogenen Daten ablehnen und stattdessen die Einschränkung
            der Nutzung der personenbezogenen Daten verlangen;
          </li>
          <li>
            der Verantwortliche die personenbezogenen Daten für die Zwecke der
            Verarbeitung nicht länger benötigt, Sie diese jedoch zur
            Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen
            benötigen, oder
          </li>
          <li>
            wenn Sie Widerspruch gegen die Verarbeitung gemäß Art. 21 Abs. 1
            DSGVO eingelegt haben und noch nicht feststeht, ob die berechtigten
            Gründe des Verantwortlichen gegenüber Ihren Gründen überwiegen.
          </li>
        </ul>
         Wurde die Verarbeitung der Sie betreffenden personenbezogenen Daten
        eingeschränkt, dürfen diese Daten – von ihrer Speicherung abgesehen –
        nur mit Ihrer Einwilligung oder zur Geltendmachung, Ausübung oder
        Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer
        anderen natürlichen oder juristischen Person oder aus Gründen eines
        wichtigen öffentlichen Interesses der Union oder eines Mitgliedstaats
        verarbeitet werden. <br />
         Wurde die Einschränkung der Verarbeitung nach den oben genannten
        Voraussetzungen eingeschränkt, werden Sie von dem Verantwortlichen
        unterrichtet bevor die Einschränkung aufgehoben wird.
      </li>
      <li>
        Recht auf Löschung
        <ul class="list-[lower-alpha]">
          <li>
            Löschungspflicht <br />Sie können von dem Verantwortlichen
            verlangen, dass die Sie betreffenden personenbezogenen Daten
            unverzüglich gelöscht werden, und der Verantwortliche ist
            verpflichtet, diese Daten unverzüglich zu löschen, sofern einer der
            folgenden Gründe zutrifft: <ol>
              <li>
                Die Sie betreffenden personenbezogenen Daten sind für die
                Zwecke, für die sie erhoben oder auf sonstige Weise verarbeitet
                wurden, nicht mehr notwendig.
              </li>
              <li>
                Sie widerrufen Ihre Einwilligung, auf die sich die Verarbeitung
                gem. Art. 6 Abs. 1 lit. a oder Art. 9 Abs. 2 lit. a DSGVO
                stützte, und es fehlt an einer anderweitigen Rechtsgrundlage für
                die Verarbeitung.
              </li>
              <li>
                Sie legen gem. Art. 21 Abs. 1 DSGVO Widerspruch gegen die
                Verarbeitung ein und es liegen keine vorrangigen berechtigten
                Gründe für die Verarbeitung vor, oder Sie legen gem. Art. 21
                Abs. 2 DSGVO Widerspruch gegen die Verarbeitung ein.
              </li>
              <li>
                Die Sie betreffenden personenbezogenen Daten wurden unrechtmäßig
                verarbeitet.
              </li>
              <li>
                Die Löschung der Sie betreffenden personenbezogenen Daten ist
                zur Erfüllung einer rechtlichen Verpflichtung nach dem
                Unionsrecht oder dem Recht der Mitgliedstaaten erforderlich, dem
                der Verantwortliche unterliegt.
              </li>
              <li>
                Die Sie betreffenden personenbezogenen Daten wurden in Bezug auf
                angebotene Dienste der Informationsgesellschaft gemäß Art. 8
                Abs. 1 DSGVO erhoben.
              </li>
            </ol>
          </li>
          <li>
            Information an Dritte <br />Hat der Verantwortliche die Sie
            betreffenden personenbezogenen Daten öffentlich gemacht und ist er
            gem. Art. 17 Abs. 1 DSGVO zu deren Löschung verpflichtet, so trifft
            er unter Berücksichtigung der verfügbaren Technologie und der
            Implementierungskosten angemessene Maßnahmen, auch technischer Art,
            um die für die Datenverarbeitung Verantwortlichen, die die
            personenbezogenen Daten verarbeiten, darüber zu informieren, dass
            Sie als betroffene Person von ihnen die Löschung aller Links zu
            diesen personenbezogenen Daten oder von Kopien oder Replikationen
            dieser personenbezogenen Daten verlangt haben.
          </li>
          <li>
            Ausnahmen <br />Das Recht auf Löschung besteht nicht, soweit die
            Verarbeitung erforderlich ist
            <ol>
              <li>
                zur Ausübung des Rechts auf freie Meinungsäußerung und
                Information;
              </li>
              <li>
                zur Erfüllung einer rechtlichen Verpflichtung, die die
                Verarbeitung nach dem Recht der Union oder der Mitgliedstaaten,
                dem der Verantwortliche unterliegt, erfordert, oder zur
                Wahrnehmung einer Aufgabe, die im öffentlichen Interesse liegt
                oder in Ausübung öffentlicher Gewalt erfolgt, die dem
                Verantwortlichen übertragen wurde;
              </li>
              <li>
                aus Gründen des öffentlichen Interesses im Bereich der
                öffentlichen Gesundheit gemäß Art. 9 Abs. 2 lit. h und i sowie
                Art. 9 Abs. 3 DSGVO;
              </li>
              <li>
                für im öffentlichen Interesse liegende Archivzwecke,
                wissenschaftliche oder historische Forschungszwecke oder für
                statistische Zwecke gem. Art. 89 Abs. 1 DSGVO, soweit das unter
                Abschnitt a) genannte Recht voraussichtlich die Verwirklichung
                der Ziele dieser Verarbeitung unmöglich macht oder ernsthaft
                beeinträchtigt, oder
              </li>
              <li>
                zur Geltendmachung, Ausübung oder Verteidigung von
                Rechtsansprüchen.
              </li>
            </ol>
          </li>
          <li>
            Recht auf Unterrichtung
            <br />
             Haben Sie das Recht auf Berichtigung, Löschung oder Einschränkung
            der Verarbeitung gegenüber dem Verantwortlichen geltend gemacht, ist
            dieser verpflichtet, allen Empfängern, denen die Sie betreffenden
            personenbezogenen Daten offengelegt wurden, diese Berichtigung oder
            Löschung der Daten oder Einschränkung der Verarbeitung mitzuteilen,
            es sei denn, dies erweist sich als unmöglich oder ist mit einem
            unverhältnismäßigen Aufwand verbunden. <br />
             Ihnen steht gegenüber dem Verantwortlichen das Recht zu, über diese
            Empfänger unterrichtet zu werden.
          </li>
          <li>
            Recht auf Datenübertragbarkeit
            <br />
             Sie haben das Recht, die Sie betreffenden personenbezogenen Daten,
            die Sie dem Verantwortlichen bereitgestellt haben, in einem
            strukturierten, gängigen und maschinenlesbaren Format zu erhalten.
            Außerdem haben Sie das Recht diese Daten einem anderen
            Verantwortlichen ohne Behinderung durch den Verantwortlichen, dem
            die personenbezogenen Daten bereitgestellt wurden, zu übermitteln,
            sofern
            <ol>
              <li>
                die Verarbeitung auf einer Einwilligung gem. Art. 6 Abs. 1 lit.
                a DSGVO oder Art. 9 Abs. 2 lit. a DSGVO oder auf einem Vertrag
                gem. Art. 6 Abs. 1 lit. b DSGVO beruht und
              </li>
              <li>
                die Verarbeitung mithilfe automatisierter Verfahren erfolgt.
              </li>
            </ol>
             In Ausübung dieses Rechts haben Sie ferner das Recht, zu erwirken,
            dass die Sie betreffenden personenbezogenen Daten direkt von einem
            Verantwortlichen einem anderen Verantwortlichen übermittelt werden,
            soweit dies technisch machbar ist. Freiheiten und Rechte anderer
            Personen dürfen hierdurch nicht beeinträchtigt werden. <br />
             Das Recht auf Datenübertragbarkeit gilt nicht für eine Verarbeitung
            personenbezogener Daten, die für die Wahrnehmung einer Aufgabe
            erforderlich ist, die im öffentlichen Interesse liegt oder in
            Ausübung öffentlicher Gewalt erfolgt, die dem Verantwortlichen
            übertragen wurde.
          </li>
          <li>
            Widerspruchsrecht
            <br />
             Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen
            Situation ergeben, jederzeit gegen die Verarbeitung der Sie
            betreffenden personenbezogenen Daten, die aufgrund von Art. 6 Abs. 1
            lit. e oder f DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch
            für ein auf diese Bestimmungen gestütztes Profiling.<br />
             Der Verantwortliche verarbeitet die Sie betreffenden
            personenbezogenen Daten nicht mehr, es sei denn, er kann zwingende
            schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre
            Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung
            dient der Geltendmachung, Ausübung oder Verteidigung von
            Rechtsansprüchen.<br />
             Werden die Sie betreffenden personenbezogenen Daten verarbeitet, um
            Direktwerbung zu betreiben, haben Sie das Recht, jederzeit
            Widerspruch gegen die Verarbeitung der Sie betreffenden
            personenbezogenen Daten zum Zwecke derartiger Werbung einzulegen;
            dies gilt auch für das Profiling, soweit es mit solcher
            Direktwerbung in Verbindung steht.<br />
             Widersprechen Sie der Verarbeitung für Zwecke der Direktwerbung, so
            werden die Sie betreffenden personenbezogenen Daten nicht mehr für
            diese Zwecke verarbeitet.<br />
             Sie haben die Möglichkeit, im Zusammenhang mit der Nutzung von
            Diensten der Informationsgesellschaft – ungeachtet der Richtlinie
            2002/58/EG – Ihr Widerspruchsrecht mittels automatisierter Verfahren
            auszuüben, bei denen technische Spezifikationen verwendet werden.
          </li>
          <li>
            Recht auf Widerruf der datenschutzrechtlichen Einwilligungserklärung


            <br />Sie haben das Recht, Ihre datenschutzrechtliche
            Einwilligungserklärung jederzeit zu widerrufen. Durch den Widerruf
            der Einwilligung wird die Rechtmäßigkeit der aufgrund der
            Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt.
          </li>
          <li>
            Automatisierte Entscheidung im Einzelfall einschließlich Profiling

            <br />Sie haben das Recht, nicht einer ausschließlich auf einer
            automatisierten Verarbeitung – einschließlich Profiling – beruhenden
            Entscheidung unterworfen zu werden, die Ihnen gegenüber rechtliche
            Wirkung entfaltet oder Sie in ähnlicher Weise erheblich
            beeinträchtigt. Dies gilt nicht, wenn die Entscheidung <ol>
              <li>
                für den Abschluss oder die Erfüllung eines Vertrags zwischen
                Ihnen und dem Verantwortlichen erforderlich ist,
              </li>
              <li>
                aufgrund von Rechtsvorschriften der Union oder der
                Mitgliedstaaten, denen der Verantwortliche unterliegt, zulässig
                ist und diese Rechtsvorschriften angemessene Maßnahmen zur
                Wahrung Ihrer Rechte und Freiheiten sowie Ihrer berechtigten
                Interessen enthalten oder
              </li>
              <li>mit Ihrer ausdrücklichen Einwilligung erfolgt.</li>
            </ol>
             Allerdings dürfen diese Entscheidungen nicht auf besonderen
            Kategorien personenbezogener Daten nach Art. 9 Abs. 1 DSGVO beruhen,
            sofern nicht Art. 9 Abs. 2 lit. a oder g gilt und angemessene
            Maßnahmen zum Schutz der Rechte und Freiheiten sowie Ihrer
            berechtigten Interessen getroffen wurden. Hinsichtlich der in (1)
            und (3) genannten Fälle trifft der Verantwortliche angemessene
            Maßnahmen, um die Rechte und Freiheiten sowie Ihre berechtigten
            Interessen zu wahren, wozu mindestens das Recht auf Erwirkung des
            Eingreifens einer Person seitens des Verantwortlichen, auf Darlegung
            des eigenen Standpunkts und auf Anfechtung der Entscheidung gehört.
          </li>
          <li>
            Recht auf Beschwerde bei einer Aufsichtsbehörde
            <br />
             Unbeschadet eines anderweitigen verwaltungsrechtlichen oder
            gerichtlichen Rechtsbehelfs steht Ihnen das Recht auf Beschwerde bei
            einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat Ihres
            Aufenthaltsorts, Ihres Arbeitsplatzes oder des Orts des mutmaßlichen
            Verstoßes, zu, wenn Sie der Ansicht sind, dass die Verarbeitung der
            Sie betreffenden personenbezogenen Daten gegen die DSGVO verstößt. <br
            />
             Die Aufsichtsbehörde, bei der die Beschwerde eingereicht wurde,
            unterrichtet den Beschwerdeführer über den Stand und die Ergebnisse
            der Beschwerde einschließlich der Möglichkeit eines gerichtlichen
            Rechtsbehelfs nach Art. 78 DSGVO.
          </li>
        </ul>
      </li>
    </ol>
    <h2 class="text-xl mb-3 mt-5">
      Verantwortlicher für die Datenverarbeitung:
    </h2>
    <p>FH Aachen</p>
    <h2 class="text-xl mb-3 mt-5">
      Kontaktdaten unseres Datenschutzbeauftragten:
    </h2>
    <p>FH Aachen</p>
  </div>
</Layout>
