---
import type { ImageBlock } from "@/types";
import { getImageSrc } from "@/utils/payload";
import { Image as AstroImage } from "@astrojs/image/components";

type Props = {
  block: ImageBlock;
};
const { block } = Astro.props;
---

<div>
  {
    typeof block.image === "object" &&
      (block.image.mimeType === "image/svg+xml" ? (
        <img
          src={block.image.url}
          height="75"
          width="75"
          class:list={[
            block.alignment === "center" && "mx-auto",
            block.alignment === "right" && "ml-auto",
          ]}
        />
      ) : (
        <div
          class:list={[
            "rounded-xl overflow-hidden",
            block.alignment === "center" && "mx-auto",
            block.alignment === "right" && "ml-auto",
          ]}
        >
          <AstroImage
            src={getImageSrc(
              block.image.sizes?.content?.url! || block.image.url!
            )}
            alt={block.image.alt!}
            width={block.image.sizes?.content?.width! || block.image.width!}
            height={block.image.sizes?.content?.height! || block.image.height!}
          />
        </div>
      ))
  }
</div>
