---
import type { LinkBlock } from "@/types";
type Props = {
  block: LinkBlock;
};
const { block } = Astro.props;
---

<div>
  {
    block.type === "internal" && typeof block.link === "object" && (
      <a
        href={block.link.path}
        class="inline-block bg-brown font-semibold text-lg rounded-xl py-2 px-10 hover:bg-brown-dark transition-colors"
      >
        {block.link.title}
      </a>
    )
  }
</div>
