<footer class="bg-brown py-10 flex justify-around items-center">
  <a href="/impressum/">Impressum</a>
  <a
    href="https://www.fh-aachen.de/studium/studiengaenge/elektrotechnik-beng/bewerbung/"
    target="_blank"
    data-umami-event="Jetzt bewerben"
    class="inline-block bg-brown-dark font-semibold text-base rounded-xl py-2 768:py-1 px-10 768:px-5 hover:bg-brown-darker transition-colors"
  >
    Jetzt bewerben
  </a>
  <a href="/datenschutz/">Datenschutz</a>
</footer>
